.container{
    background: #ffc100 url('../assets/astronauta.png') no-repeat ;
    background-position: center  ;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    height: 100vh;
}

@media screen and (min-width:768px) {
    .container{
        align-items: flex-start;
        background-position: center right ;
        padding-left: 50px;
    }
}